*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}


a {
   text-decoration: none;

}

ul {
   margin: 0;
   list-style: none;
}



.mr-5 {
   margin-left: 20rem;

   
}


.searchIcon{
   cursor: pointer;
   font-size: 1.3rem;
   color: gray;
}
